/* Reset default browser margins and padding */
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Optional: ensure all elements inherit box-sizing */
* {
  box-sizing: border-box;
}